@import "../base/variables";

.btn {
	border-radius: .7em;
	padding: .5em 1.5em;
    cursor: pointer;
    text-decoration: none;
    color: black;
	-webkit-box-shadow: none;
	box-shadow: none;
	overflow-wrap: unset;
	margin: auto;
}

@each $name,
$color in $Colors {
    .btn-#{$name} {
        background-color: $color;
        @if($name =="dark"){
            color: white;
        }
    }
}
