:root {
    --dark-background-color: #040F0F;
    --dark-text-color: white;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}

body {
    /* Light Theme */
    --background-color: #ebebeb;
    --text-color: #040F0F;
    background: var(--background-color);
    color: var(--text-color);
}

nav {
    --background-color: white;
    --text-color: black;
    background: var(--background-color);
    color: var(--text-color);
}


body.dark, nav.dark, .theme-btn.dark {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
}

nav.dark {
    border-bottom: 0.5px solid white;
}

.container2 {
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
}

nav img.logo {
    width: 10em;
}

nav .search-bar {
    position: absolute;
    padding: 0.35em 1.5em;
    width: 26em;
    align-items: center;
    gap: 1em;
    left: 15%;
}

nav .profile-area {
    align-items: center;
    justify-content: space-between;
    gap: 1.3em;
}

nav .profile-area .theme-btn {
    width: 2.5em;
    height: 2.3em;
    gap: 0.2em;
    cursor: pointer;
    background: #ebebeb;
}



nav .profile-area .profile {
    gap: 1em;align-items: center;
}

nav .profile-area .profile .profile-photo {
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
}

nav .profile-area .profile .expand {
    cursor: pointer;
}

nav .profile-area .profile .menu {
    position: absolute;
    top: 60px;
    right: -25px;
    padding: 10px 20px;
    width: 180px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: 0.5s;
    font-weight: 500;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

nav .profile-area .profile .menu.active {
    visibility: visible;
    opacity: 1;
}

nav .profile-area .profile .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: gray;
    transform: rotate(45deg);
}
  
nav .profile-area .profile .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  color: #fff;
}

nav .profile-area .profile .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #eee;
}
  
nav .profile-area .profile .menu ul li:hover a {
  color: #fff;
}

nav .profile-area button,
main aside button {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 14em auto 14em;
    gap: 2em;
    width: 96%;
}

main aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

main aside .sidebar a {
    align-items: center;
    gap: 1.2em;
    height: 3.5em;
    position: relative;
}

main aside .sidebar a span {
    font-size: 1.7em;
    transition: all 300ms ease;
}

main aside .sidebar a.active {
    background: white;
    color: #0E76E5;
}

main aside .sidebar a.active:before {
    content: '';
    width: 7px;
    height: 100%;
    position: absolute;
    background-color: #0E76E5;
}

main aside .sidebar a:hover {
    color: #0E76E5;
}

main aside .sidebar a:hover span {
    margin-left: 1.5em;
}

/*#last-elt {
    margin-top: 16.3em;
*/}

main section.middle {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#add {
    position: relative;
    padding: 10px 40px;
    background-color: #0e76e5;
    border: none;
    outline: none;
    border-radius: 3px;
    letter-spacing: 1px;
    left: 99px;
    top: 30px;
    cursor: pointer;
}

#add a {
    text-decoration: none;
    color: white;
}


main section.middle table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #ccc;
    text-align: center;
    overflow: hidden;
    margin-left: 100px;
    margin-top: 50px;
}

main section.middle table thead {
  box-shadow: 0 5px 10px #ccc;
}
  
main section.middle table thead th {
  padding: 20px 25px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 900;
  background-color: #0E76E5;
  text-align: center;
}

main section.middle table tbody tr {
    transition: all 0.2s ease-in;
    cursor: pointer;
}

main section.middle table tbody tr:hover {
    background-color: #eee;
  transform: scale(1.02);
  box-shadow: 0 5px 10px #ccc;
}

main section.middle table tbody td {
  padding: 25px 25px;
}

main section.middle table tbody.dark {
    color: #000000;
    background-color: #eeeeee;
    
}

main section.middle .header {
    gap: 1em;
}

main section.middle .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

main section.middle .cards .card-first .top h4,
main section.middle .cards .card-first .btm h4:last-child {
    color: #566573;
}

main section.middle .cards .card-first .top h2,
main section.middle .cards .card-first .btm h4:first-child {
    color: #011429;
}

main section.middle .cards .card-first .btm {
    justify-content: space-between;
    gap: 0.3em;
}

main section.middle .cards .card {
    background: linear-gradient(#757f9a, #d7dde8);
    height: 10em;
    justify-content: space-between;
    transition: all 200ms ease;
}

main section.middle .cards .card:nth-child(3) {
    background: linear-gradient(#ffe259, #ffa751);
}

main section.middle .cards .card:hover {
    box-shadow: none;
}

main section.middle .cards .card .top,
main section.middle .cards .card .middleCard {
    justify-content: space-between;
    gap: 4em;
}

main section.middle .cards .card .top .left {
    gap: 0.3em;
}

main section.middle .cards .card .top .left h4 {
    font-weight: 200;
    padding-top: 0.6em;
}

main section.middle .cards .card .top .left img {
    width: 2.1em;
    height: 2.1em;
}

#img_euro {
    border: 1.5px solid black;
    border-radius: 50%;
    overflow: hidden;
    padding: 0.4em;
}

main section.middle .cards .card .top img.right,
main section.middle .cards .card .middleCard .chip {
    width: 3em;
    height: 2em;
}

main section.middle .cards .card .bottom {
    justify-content: space-between;
    align-items: flex-end;
}

main section.middle .cards .card .bottom .right {
    gap: 1.5em;
}

canvas#chart {
    max-width: 100%;
}

.chart_container {
    position: relative;
    /*height:20em; 
    width:20em;*/
}

main section.right .categories .header {
    justify-content: space-between;
}

main section.right .categories .category {
    justify-content: flex-start;
    transition: all 300ms ease;
}

main section.right .categories .category:hover {
    background: #eeeeee;
    cursor: pointer;
}

.p-sm-0 {
    padding: 0.3em;
}

main section.right .categories .category:nth-child(2) span {
    background: #82E0AA;
}

main section.right .categories .category:nth-child(4) span {
    background: #F5B041;
}

main section.right .transactions .transaction {
    justify-content: space-between;
}

main section.right .transactions .transaction .left {
    justify-content: space-between;
}

main section.right .transactions .transaction .left .text {
    margin-top: -0.5em;
}

main section.right .transactions .transaction .right h4 {
    color: #566573;
}


/* RESPONSIVE */
/*@media screen and (max-width: 1024px) {
    body {
        background-color: red;
    }
    nav .search-bar {
        display: none;
    }

    nav .profile-area button#menu-btn {
        display: inline-block;
        background: transparent;
        color: #040F0F;
    }

    main {
        grid-template-columns: 1fr;
    }

    main aside {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        background: white;
        width: 22em;
        height: 100vh;
        box-shadow: 2em 0 2em #ebebeb; 
    }

    main aside button#close-btn {
        display: inline-block;
        width: 3em;
        height: 3em;
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 4;
        background: transparent;
        color: #040F0F;
    }

    button:hover {
        cursor: pointer;
    }

    main aside .sidebar {
        margin-top: 3em;
    }
}*/

