input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 100%;
    background-color: white;
    
  }
a{
    text-decoration: none;
    color:#040F0F;
}
.btn_lgn
{
    width: 50%;
}