//// Base
@import 'base/variables';
@import'base/spacing';
@import'base/functions';
@import'base/typography';
//// Component
@import 'components/buttons';
@import 'components/tables';
@import 'components/images';
//// Layout
@import 'layout/grid';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/sidebar';
//// Sections
@import 'sections/hero';
//// Utilites
@import 'utilities/shadows';


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
    font-family: 'Roboto', sans-serif;
}

// Background And Text Colors
.rounded{
    border-radius: 8px;
}

.rounded-lg{
    border-radius: 1.5em;
}

@each $name,
$color in $Colors {
    .bg-#{$name} {
        background-color: $color;
    }
    .text-#{$name} {
        color: $color;
    }
}
.bg-dark{
    color: white;
}

// Container

.container {
    width: 80%;
    margin: auto;
    background-color: transparent;
    align-self: center;
}

.w-100{
    width: 100%;
}

.w-75{
    width: 75%;
}