
.row {
    display: grid;
    column-gap: 0.5em;
    grid-template-columns: repeat(12, 1fr);
}

// Default Column (Code For Auto Span For Future Iterations)

// .col{
//     grid-column: span 4;
// }

// Column With Different Sizes

@for $i from 1 through 12 {
    .col-#{$i} {
        grid-column: span #{$i};
    }
}

.flexrow{
    display: flex;
    flex-direction: row;
}

.flexrow.centered{
    justify-content: center;
}

/* Larger than mobile */
@media (max-width: 400px) {}

/* Larger than phablet */
@media (max-width: 550px) {}

/* Larger than tablet */
@media (max-width: 750px) {
    .container {
        width: auto;
    }
}

/* Larger than desktop */
@media (max-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1000px) {}