.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.title-1{
    font-size: 4em;
}
.title-2{
    font-size: 3em;
}
.title-3{
    font-size: 2em;
}
.title-4{
    font-size: 1em;
}

.text-bold{
    font-weight: bold;
}

.text-bolder{
    font-weight: 900;
}


.text-lg{
    font-size: large;
}

.text-vlg{
    font-size: x-large;
}